[submodule "專業課程/人工智能導論/hw/hw1/project"]
	path = 專業課程/人工智能導論/hw/hw1/project
	url = https://github.com/boxworld18/pinyin-recognition
[submodule "專業課程/人工智能導論/hw/hw2/project"]
	path = 專業課程/人工智能導論/hw/hw2/project
	url = https://github.com/boxworld18/sentiment-analysis
[submodule "專業課程/人工智能導論/hw/hw3/project"]
	path = 專業課程/人工智能導論/hw/hw3/project
	url = https://github.com/boxworld18/connect4
[submodule "專業課程/計算機圖形學基礎/hw/project/brender-project"]
	path = 專業課程/計算機圖形學基礎/hw/project/brender-project
	url = https://github.com/boxworld18/jittor-brender
[submodule "專業課程/軟件工程/project/src/backend"]
	path = 專業課程/軟件工程/project/src/backend
	url = https://github.com/boxworld18/dianasearch-system
[submodule "專業課程/軟件工程/project/src/op-platform"]
	path = 專業課程/軟件工程/project/src/op-platform
	url = https://github.com/boxworld18/dianasearch-platform
[submodule "專業課程/軟件工程/project/src/searchpage"]
	path = 專業課程/軟件工程/project/src/searchpage
	url = https://github.com/boxworld18/dianasearch-searchpage
[submodule "專業課程/程序設計訓練/milichess"]
	path = 專業課程/程序設計訓練/milichess
	url = https://github.com/boxworld18/milichess
[submodule "專業課程/程序設計訓練/boxnews"]
	path = 專業課程/程序設計訓練/boxnews
	url = https://github.com/boxworld18/boxnews
[submodule "專業課程/虛擬現實技術/hw/proj/src"]
	path = 專業課程/虛擬現實技術/hw/proj/src
	url = https://github.com/boxworld18/panoramic-image-stitching
[submodule "專業課程/編譯原理/hw/src"]
	path = 專業課程/編譯原理/hw/src
	url = https://github.com/boxworld18/minidecaf
[submodule "專業課程/計算機組成原理/lab/src/lab_src"]
	path = 專業課程/計算機組成原理/lab/src/lab_src
	url = https://github.com/boxworld18/thinpad-lab
[submodule "專業課程/計算機組成原理/lab/src/cpu"]
	path = 專業課程/計算機組成原理/lab/src/cpu
	url = https://github.com/boxworld18/thinpad-cpu
[submodule "專業課程/計算機網絡原理/lab"]
	path = 專業課程/計算機網絡原理/lab
	url = https://github.com/boxworld18/router-lab
