my
.refresh
.DS_Store
.ipynb_checkpoints/
.vscode/
__res/
perf.data
perf.data.old
*.swp
*.ipynb
*.pdf
*.zip
*.tgz
*.obj
*.egg-info
*.pkl
test.py
extern/mkl/mkldnn_lnx*/*
data/
build/
venv/
dist/
!doc/source/*
!python/data/
core
__data__
__pycache__/
pretrained_models/
logs/